<div  style="margin-bottom: 6px;">

    <label style="margin-right: 6px;"><b>Graph Pattern:</b></label>

    <button class="my-button" (click)="displayChart('dagre')">Dagre</button>
    <button class="my-button" (click)="displayChart( 'circle' )">Circle</button>
    <button class="my-button" (click)="displayChart( 'cose' )">Cose</button>
	<!-- <span style="margin-left: 16px;"><button class="my-button" (click)="rotateChart()">Rotate Graph</button></span> -->
</div>
<div>

	<label style="margin-right: 6px;"><b>Edge Curve Pattern:</b></label>

	<button class="my-button" (click)="changeCurveLine('straight')">Straight</button>
	<button class="my-button" (click)="changeCurveLine( 'unbundled-bezier' )">Unbundled-bezier</button>
	<button class="my-button" (click)="changeCurveLine( 'haystack' )">Haystack</button>
	<button class="my-button" (click)="changeCurveLine( 'segments' )">Segments</button>
	<button class="my-button" (click)="changeCurveLine( 'taxi' )">Taxi</button>
	<button class="my-button" (click)="changeCurveLine( 'bezier' )">Bezier</button>

</div>


<div #myElement id="cy"></div>
<!-- <router-outlet /> -->
