#cy {
    width: 90%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
    // left: 0;
    // top:0; 
    // z-index: 999;
    // background-color: #ceddf5;
}

.my-button {
    background-color: #4CAF50;
    border: none; 
    color: white; 
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.my-button:hover {
    background-color: #45a049;
}